.back {
    position: fixed;
    background-color: #f4f4f4;
    background-image:
    linear-gradient(to bottom, #707070 0.5px, transparent 0.5px);
    background-position: 0 43px;
    background-repeat: no-repeat;
    height: 43.5px;
    width: 59px;
    z-index: 1000;
}

.tabs, .options {
    display: flex;
    justify-content: start; /* Align buttons to the start of the container */
    align-items: center; /* Vertically center buttons */
  }

.tabs {
    top: 0;
    left: 59px;
    position: fixed;
    background-color: #f4f4f4;
    background-image:
    linear-gradient(to bottom, #707070 0.5px, transparent 0.5px);
    background-position: 0 43px;
    background-repeat: no-repeat;
    height: 43.5px;
    width: 100%; /* Ensure they fill the width */
    z-index: 1000; /* Ensure they stay above the scrollable content */
  }
  
  .options {
    position: fixed;
    top: 44px;
    background-color: #f4f4f4;
    background-image:
    linear-gradient(to bottom, #838383 1px, transparent 1px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    background-position: 0 44px;
    background-repeat: no-repeat;
    height: 44.5px;
    width: 100%; /* Ensure they fill the width */
    z-index: 1000; /* Ensure they stay above the scrollable content */
  }
  
  /* Scrollable container for tilemap */
  .tileMap-container {
    cursor: url('./images/SelectCursor.png'), auto;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: 100%;
    height: 100vh;
    overflow: auto;
    
  }
  